
{% include "website/partials/head.html" %}
				<!-- Banner -->
					<section id="banner">
						<div class="content primary">
							<header>
								<h1>Open World Stories</h1>
                                <p>Making writing social<br /></p>
							</header>
							<ul class="actions special">
								<li><a href="/read" class="button large wide scrolly">Read the story</a></li>
								<li><a href="#one" class="button large wide scrolly">Write the story</a></li>
							</ul>
						</div>
						<div class="content secondary">
							<div class="inner">
								<div class="features">
									<section>
										<span class="icon fa-gem major"></span>
										<h3>Sed Aliquam</h3>
										<p>Morbi in sem quis dui placerat ornare. Pellentesque ipsum dolor</p>
									</section>
									<section>
										<span class="icon solid fa-chart-line major"></span>
										<h3>Lorem Feugiat</h3>
										<p>Integer vitae libero ac risus eges placerat voluptrus magna</p>
									</section>
									<section>
										<span class="icon solid fa-camera-retro major"></span>
										<h3>Veroeros Nullam</h3>
										<p>Fusce lobortis lorem ipsum semper sagittis etiam consequat</p>
									</section>
								</div>
							</div>
						</div>
					</section>


{% include "website/partials/footer.html" %}
