		<!-- Scripts.html -->
        <script src="https://openworld.blob.core.windows.net/web/js/jquery.min.js"></script>
        <script src="https://openworld.blob.core.windows.net/web/js/jquery.dropotron.min.js"></script>
        <script src="https://openworld.blob.core.windows.net/web/js/jquery.selectorr.min.js"></script>
        <script src="https://openworld.blob.core.windows.net/web/js/jquery.scrollex.min.js"></script>
        <script src="https://openworld.blob.core.windows.net/web/js/jquery.scrolly.min.js"></script>
        <script src="https://openworld.blob.core.windows.net/web/js/browser.min.js"></script>
        <script src="https://openworld.blob.core.windows.net/web/js/breakpoints.min.js"></script>
        <script src="https://openworld.blob.core.windows.net/web/js/util.js"></script>
        <script src="https://openworld.blob.core.windows.net/web/js/main.js"></script>